<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8v6Zf8GybBLLIs-W9e2yDWX29ffDS6yE</string>
	<key>GCM_SENDER_ID</key>
	<string>383028038121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rmps.apppro</string>
	<key>PROJECT_ID</key>
	<string>raj-mordern-app</string>
	<key>STORAGE_BUCKET</key>
	<string>raj-mordern-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383028038121:ios:1297ac16f9fcaa37976378</string>
</dict>
</plist>